<section class="header">
    <div class="common-limiter">
        <h1 class="logo">
            Neural Network
        </h1>

        <div class="inputs">
            <div class="wrap-input">
                <label for="numberOfEntries">Interações</label>
                <input type="text" [(ngModel)]="numberOfEntries" class="common-input" id="max" />
            </div>

            <button class="common-button" [disabled]="isLoading" (click)="start()">
                <span>Start</span>
            </button>
        </div>
    </div>
</section>