<section class="header">
    <div class="common-limiter">
        <h1 class="logo">
            Neural Network
        </h1>

        <div class="inputs">
            <div class="wrap-input">
                <label for="initial">Interações</label>
                <input type="text" [(ngModel)]="initial" class="common-input" id="max" />
            </div>

            <button class="common-button" [disabled]="isLoading" (click)="start()">
                <span>Start</span>
            </button>
        </div>
    </div>
</section>

<div class="list">
    <div class="matrix" *ngFor="let matrix of characteres" [ngClass]="{ 'active': matrix.active }">
        <div class="cell" [ngClass]="{'active': value == 1}" *ngFor="let value of matrix.bits">
            {{value}}
        </div>
    </div>
</div>