$font-montserrat: 'Montserrat', sans-serif;
$font-righteous: 'Righteous', cursive;

$dark-green: #bb133e;
$light-purple: #002664;
$white: #ffffff;

input {
  outline: none;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

.common-limiter{
    width: 100%;
    max-width: 1920px;
    padding: 0px 32px;
    margin: 0px auto;
}

.header{
    width: 100%;
    padding: 12px 0px;
    box-shadow: 0px 6px 15px -2px rgba(0,0,0,0.2);
    background: $light-purple;

    .common-limiter{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            margin: 0px 20px 0px 0px;
            font-size: 32px;
            font-family: $font-righteous;
            color: $dark-green;
        }

        .inputs{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .wrap-input{
                margin-right: 16px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                label{
                    margin-bottom: 4px;
                    font-size: 13px;
                    font-weight: bold;
                    color: $dark-green;
                }

                .common-input{
                    width: 110px;
                    height: 30px;
                    border-radius: 4px;
                    padding: 0px 8px;
                    border: none;
                    outline: none;
                }
            }

            .common-button{
                width: 80px;
                height: 30px;
                margin-right: 16px;
                border-radius: 4px;
                border: none;
                color: #ffffff;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: flex-end;
                transition: .3s ease;
                outline: none;

                &:disabled{
                    opacity: 0.4;
                }

                .gif{
                    display: none;
                }

                &.orange{
                    background: #f8a558;

                    &:hover{
                        background: #f5851d;
                        cursor: pointer;
                    }
                }

                &.green{
                    background: #58f8ad;

                    &:hover{
                        background: #40fca4;
                        cursor: pointer;
                    }
                }
            
                &.is-loading{
                    .gif{
                        display: block;
                    }

                    span{
                        display: none;
                    }
                }
            }
        }
    }
}

.acuracy{
    width: 1000px;
    margin: 24px auto;

    .cell{
        width: 200px;
        padding: 12px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
    }

    .header-row{
        width: 100%;
        display: flex;
        align-items: stretch;
        font-weight: bold;
        background: $light-purple;
        color: $dark-green;
    }

    .content-row{
        display: flex;
        align-items: stretch;
        background: #f3f3f3;
    }
}

.container-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .result {
        width: 870px;
        margin: 24px 0;

        .cell{
            width: 200px;
            padding: 12px 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            box-sizing: border-box;

            &:first-child{
                width: 70px;
            }
        }

        .header-row{
            width: 100%;
            display: flex;
            align-items: stretch;
            font-weight: bold;
            background: $light-purple;
            color: $dark-green;
        }

        .content-row{
            display: flex;
            align-items: stretch;
            background: #f9f9f9;

            &:nth-child(even) {
                background: #f1f1f1;
            }
        }
    }

    .matrix-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 900px;
        position: relative;
        margin: 10px 0;
    
        .row{
            display: flex;
        }
    
        .left{
            position: absolute;
            left: -25px;
            top: 25px;
        }
    
        .cell{
            font-size: 14px;
            font-family: $font-montserrat;
            width: 25px;
            height: 25px;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &.letter{
                font-weight: bold;
                border: none;
            }
    
            &.bold{
                font-weight: bold;
            }
        }
    }
}

.list{
    display: flex;
    flex-wrap: wrap;

    .letter-test{
        width: 120px;
        margin: 24px;
    }

    .matrix{
        width: 120px;
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        &.active{
            border:2px solid red;
        }
    
        .cell{
            width: 20px;
            height: 20px;
            color: transparent;
            border: 1px solid #ccc;
    
            &.active{
                background: blue;
            }
        }
    }
}