.list{
    display: flex;
    flex-wrap: wrap;

    .matrix{
        width: 120px;
        margin: 24px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        &.active{
            border:2px solid red;
        }
    
        .cell{
            color: transparent;
            border: 1px solid #ccc;
    
            &.active{
                background: blue;
            }
        }
    }
}